<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.revature.web.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/getAllPolkamans</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDispatcher</servlet-name>
    <servlet-class>com.revature.web.RequestDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcher</servlet-name>
    <url-pattern>/getflixapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDispatcher2</servlet-name>
    <servlet-class>com.revature.web.Responseyype</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcher2</servlet-name>
    <url-pattern>/getflixa2pi/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/Pages/NewFile404.html</location>
  </error-page>
    <error-page>
    <error-code>207</error-code>
    <location>/Pages/NewFile404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Responseyype</display-name>
    <servlet-name>Responseyype</servlet-name>
    <servlet-class>com.revature.web.Responseyype</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Responseyype</servlet-name>
    <url-pattern>/Responseyype</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>cookies</display-name>
    <servlet-name>cookies</servlet-name>
    <servlet-class>com.revature.web.cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookies</servlet-name>
    <url-pattern>/cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>invalidateCookies</display-name>
    <servlet-name>invalidateCookies</servlet-name>
    <servlet-class>com.revature.web.invalidateCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invalidateCookies</servlet-name>
    <url-pattern>/invalidateCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>invalidatesession</display-name>
    <servlet-name>invalidatesession</servlet-name>
    <servlet-class>com.revature.web.invalidatesession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invalidatesession</servlet-name>
    <url-pattern>/invalidatesession</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Context param</param-name>
    <param-value>Context value</param-value>
  </context-param>
     <context-param> 
      <description>Location to store uploaded file</description> 
      <param-name>file-upload</param-name> 
      <param-value>
         c:\
      </param-value> 
   </context-param>
  <servlet>
    <description></description>
    <display-name>trytoredirectplay</display-name>
    <servlet-name>trytoredirectplay</servlet-name>
    <servlet-class>com.revature.web.trytoredirectplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trytoredirectplay</servlet-name>
    <url-pattern>/tryto/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>trytoredirectplay2</display-name>
    <servlet-name>trytoredirectplay2</servlet-name>
    <servlet-class>com.revature.web.trytoredirectplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trytoredirectplay2</servlet-name>
    <url-pattern>/tritontest/*</url-pattern>
  </servlet-mapping>
</web-app>